body {
  margin: 25px;
}

.content-main {
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 50%;
}

.content-right {
  width: 50%;
}

.map {
  width: 500px;
  height: 500px;
}
